[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kolectir
[access "refs/for/refs/*"]
	read = group user/kolectir
	push = group user/kolectir
	label-Code-Review = -2..+2 group user/kolectir
	label-Verified = -1..+1 group user/kolectir
	rebase = group user/kolectir
	removeReviewer = group user/kolectir
	submit = group user/kolectir
[access "refs/heads/*"]
	read = group user/kolectir
	create = group user/kolectir
	push = +force group user/kolectir
	pushMerge = group user/kolectir
[access "refs/tags/*"]
	push = group user/kolectir
	push = +force group user/kolectir
[submit]
	action = cherry pick
